[submodule "frontend"]
	path = frontend
	url = https://github.com/joaovictorneto/betmajor-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/joaovictorneto/betmajor-backend.git